

@placeholderBG: #f1fcfd;

@interfaceBG: rgba(0,0,0,.7);

@editorBorder: #35eafd;
@editorText: #000;

.pl-editor{
	
	
	.pl-content{
		position: relative;
		width: 980px;
		margin: 0 auto;
	}
	.section-plcolumn{
		margin-bottom: 0;
	}
	
	#footer section:last-child{
		margin-bottom: 0;
	}
	
}

// Drag and Drop Editing
// --------------------------------------------------

// Used to disable text selection, used in resize.. and more
.disable-select{
	.user-select(none);
}

.pl-section-controls, 
.pl-region-bar, 
.pl-area-controls,
.pl-column-forcer,
.pl-sortable-buffer{
	display: none;
}

.drag-drop-editing{
	
	.pl-section{
		.box-sizing(border-box);
		position: relative;
		
		&:hover, 
		&.ui-sortable-helper { 
			cursor: move;
			background: @baseContrastSlight;
			> .pl-section-controls{
				display: block;
			}
		}
		
		
		&.section-plcolumn{
			margin-bottom: 20px;
			background: @pl-base;
			outline: 1px dashed #35eafd;
			.pl-column-sortable section:last-of-type{
				margin-bottom: 0;
			}
			&.empty-area .pl-column-sortable{
				min-height: 70px;
				.pl-column-forcer{
					display: block;
					width: 0; 
					height: 0;
				}
				
			}	
			
			> .pl-section-controls:first-child{
				top: -20px;
				#gradient > .vertical(rgba(182, 242, 253, .5), rgba(125, 233, 253, .5));
				box-shadow: inset 1px 1px 0 rgba(255,255,255,.5); 
				outline: 1px dashed  @editorBorder;
				color: @editorText;
				text-shadow: 0 1px 0 rgba(255,255,255,.4);
				
				a.s-control{
					color: @editorText;
					&:hover{
						background:@editorBorder;
						color:#000;
					}
					&:active{
						background-color: #01c5df;
						color:#222;
					}
				}
			}
		}
		// Section Controls
		.pl-section-controls{
			position: absolute;
			top: 0;
			left: 0; 
			width: 100%;
			z-index: 2200;
			background: @interfaceBG;
			text-shadow: 0 -1px 0 @interfaceBG;	
			text-align: center;
			color: #fff;
			font-weight: bold;
			font-size: 10px;
			.box-sizing(border-box);
			&:hover{
				cursor: move;
			}
			.controls-title,
			.controls-right, 
			.controls-left{
				display: inline;
				clear: none;
			}
			.controls-right{
				padding-right: 4px;
				float: right;
			}
			.controls-left{
				padding-left: 4px;
				float: left;
			}
			.s-control{
				line-height: 16px;
				font-size: 11px;
				display: inline-block;
				text-align: center;
			}
			span.s-control{
				letter-spacing: .1em;
			}
			a.s-control{
				
				width: 16px; 
				height: 16px;
				
				padding: 0 1px;
				
				&:hover{
					background: rgba(0,0,0,.6);
					color:#eee;
				}
				&:active{
					background: rgba(0,0,0,.4);
					color:#ccc;
				}
				.caret, &:hover .caret{
				  border-top:   4px solid #fff;
				  .opacity(60);
				  content: "";
				}
				&.s-control-icon{
					width: 16px;
					height: 16px;
					color:#fff;
				}
			}


		}

	}

	&.pl-dragging{
		.pl-sortable-area{
			min-height: 25px;
			.transition(.5s);
			.pl-sortable-area{
				padding-top: 0px;
			}
		}
		.section-plcolumn{
			background: @pl-base;
			outline: 1px dashed #35eafd;
		}
		.ui-sortable-helper{
			border: 1px solid rgba(255,255,255,.4); 
			box-shadow: 0 1px 4px rgba(0,0,0,.5);
			max-height: 350px; 
			overflow:hidden;
			opacity: .5;
		}
		.pl-sortable-buffer{
			height: 5px;
			margin: 5px 0;
			display: block;
		}
		&:hover, 
		&.ui-sortable-helper { 
			.pl-section-controls{
				display: none !important;
			}
		}

	}
	
	// Area for dropping elements on drag
	.pl-placeholder {
		max-height: 400px; 
		display: inline;
		float: left;
		position: relative;
		margin: 0 0 1em 0;
		padding: 0;
		.box-sizing(border-box);
		.border-radius(5px);
		box-shadow: inset 0 0 5px rgba(0,0,0,.2);
		#pattern > .striped( @baseContrast );
		// Used in nested columns
		&.hidden-placeholder{
			display: none;
		}
	}
	.pl-sortable-area.empty-area{
		min-height: 35px;
	}



	.cant-offset .section-offset-increase, 
	.cant-offset .section-offset-reduce, 
	.cant-offset .offset-size, 
	.sortable-first .section-start-row{
		.opacity(50);
	}

	.force-start-row .s-control.s-control-icon.section-start-row{
		.opacity(100);
		color: @editorBorder;
	}
	

	
	// Area Controls
	// --------------------------------------------------
	
	.pl-region{
		position: relative;
		&.header{
			margin-top: 13px;
		}
	}
	.pl-region-bar{
		display: block;
		position: absolute; 
		top: -13px;
		line-height: 12px;	
		#gradient > .vertical(rgba(182, 242, 253, .06), rgba(125, 233, 253, .06));
		width: 100%;
		height: 13px;
		a.btn-region{
			vertical-align: top;
			color: @editorText;
			text-shadow: 0 1px 0 rgba(255,255,255,.4);
			box-shadow: inset 2px 1px 0 rgba(255,255,255,.5); 
			outline: 1px dashed  @editorBorder;
			#gradient > .vertical(rgba(182, 242, 253, .5), rgba(125, 233, 253, .5));

			font-size: 9px;
			line-height: 13px;
			padding: 1px 4px;
			font-weight: bold;
			.border-radius(0);
		}
	}
	.pl-area{
		position: relative;
		border-top: 1px dashed #35eafd;

		.pl-area-controls{
			display: block;
			z-index: 1000;
			position: absolute; 
			left: 7px; 
			top: 4px;
			text-align: left;
			width: 50px;
			.area-move-btn{
				color: @editorText;
				text-shadow: 0 1px 0 rgba(255,255,255,.4);
				font-size: 11px;
				padding: 1px 4px;
				line-height: 16px;
				width: 12px;
				height: 14px;
				font-weight: bold;
				#gradient > .vertical(rgba(182, 242, 253, .4), rgba(125, 233, 253, .4));
				
				&:hover{
					#gradient > .vertical(rgba(182, 242, 253, .7), rgba(125, 233, 253, .7));
				}
				&:active{
					opacity: .6;
				}
			}
		}
	}

	.pl-refresh-banner{
		display: block; 
		
		text-align: center; 
		padding: 15px 0 25px;
		font-weight: bold;
		color: @textColorSubtle;
		background: @baseContrast;
		&:hover{
			background: @baseContrastSlight;
		}
		.banner-refresh{
			display: none;
			margin-top: 8px;
		}
		.banner-frame{
			max-width: 130px;
			padding: 5px; 
			background: @baseContrastMore;
			margin-bottom: 8px;
			display: inline-block;
			img{
				max-width: 100%;
			}
		}
		.banner-txt{
			margin: 5px 0 0;
		}
	}
}






// Layout
// --------------------------------------------------
.width-resize{
	// Resizing
	.ui-resizable-handle {
		&.ui-resizable-e, 
		&.ui-resizable-w{
			cursor: move;
			position: absolute;
			font-size: 0.1px;
			display: block;
		}
		

	}
	
	&.resize-hover .ui-resizable-handle{
		background: rgba(182, 242, 253, .2);
		
	}
	&.width-resizing .ui-resizable-handle{
		background: rgba(182, 242, 253, .4);
	}
	


	
	.ui-resizable-e{
		cursor: e-resize;
		border-left: 1px dashed @editorBorder;
		width: 5px;
		right: -6px;
		top: 0;
		height: 100%;	
	}
	
	.ui-resizable-w{
		cursor: w-resize;
		border-right: 1px dashed @editorBorder;
		width: 5px;
		left: -6px;
		top: 0;
		height: 100%;	
	}
	
	.footer .pl-content{
		border-bottom: 1px dashed @editorBorder;
	}
	
}


// Toolbox/Toolbar
// --------------------------------------------------
#PageLinesToolbox.pl-toolbox{
	position: fixed; 
	bottom: 0;
	color: #000;
	background: #fff;
	font-size: 13px;
	width: 100%;
	z-index: 10000; 
	min-width: 600px;
	.resizer-handle{
		position: absolute; 
		height: 4px; 
		top: -4px; 
		width: 100%;
		cursor: row-resize;
		&:hover,
		&.resizing{
			background: rgba(53, 234, 253, .5);
		}
	}
	.toolbox-handle{
		
		@media (max-width: 1200px) {
			 .btn-toolbox .txt{
					display: none;
			}
		}
		
		text-align: left;
		.buttonBackground(#eee, #ddd);
		box-shadow: inset 1px 1px 0 rgba(255,255,255,.8), 0 1px 3px rgba(0,0,0,.2);
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
		font-weight: bold;
		text-shadow: 0 1px 0 #fff; 
		height: 28px;
		line-height: 28px;
		font-size: 13px;
		padding: 0 1%; 
		
		.user-select(none);
		i, 
		i:before{
			vertical-align: middle;
			font-size: 18px;
			width: 20px;
		}
		 
		ul.controls{
			float: left;
			margin-left: 11px;
			border-left: 1px solid #AAA;
			border-right: 1px solid #fff;
			position: relative;
			&.not-btn{
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
			}
		
			&.send-right{
				float: right;
				margin-right: 0;
			}
			
			> lh{
				line-height: 28px;
				padding: 0 5px 0 25px;
				color: #aaa; 
				border-right: 1px solid #cdcdcd;
				i{display: block;}
			}
			> li, 
			> lh{
				position: relative; // dropdown
				float: left;
				height: 28px;

				&.dropup.open > .btn-toolbox{
					.buttonBackground(#bbb, #ddd);
					.crt{
						color: #0f63cc;
					}
					.icon-caret-right:before{
						content: "\f0d8";
					}
					
				}
			}
			> li > .btn-toolbox{
				
				display: block;
				color: #444;
				padding: 0 15px;
				font-size: 11px;
				line-height: 26px;
				cursor: pointer;
				border-left: 1px solid #fff; 
				border-right: 1px solid #AAA;
				&.btn-publish{
					#gradient > .vertical(#e1e1e1, #ccc);
				
				}
				&.btn-state{
					padding: 0 10px;
					height: 28px;
					#gradient > .vertical(#eee, #ddd);
				}
				&.btn-saving{
					border-left: 1px solid transparent;
					border-right: 1px solid transparent;
					padding: 0 4px;
					opacity: 0;
					.transition( all .2s );
					&.active{
						
						opacity: .6;
					}
				}
				
				
				&:hover{
					
					.buttonBackground(#eee, #ccc);
					border-left: 1px solid #fff; 
					border-right: 1px solid #AAA;
				}
				&:active{
				
					.buttonBackground(#bbb, #ddd);
				}
				&.active-tab{
					
					.buttonBackground(#e1e1e1, #bbb);
					border-left: 1px solid #fff; 
					border-right: 1px solid #AAA;
					i{
						color: #0f63cc;
					}
				}

				&.active-toggle {
					.buttonBackground(#fff, #eee);
					i{
						color: #0f63cc;

					}
				}
				&.btn-closer{
					color: #999; 
					border-left: 1px solid transparent;
					border-right: 1px solid transparent;
					position: absolute; 
					left: -27px;
					padding: 0 2px;
					&:hover{
						color:#08c;
					}
					&:active{
						color: #444;
					}
				}
				
			
			}
		
			
		
		}
		.btn-state span,
		.update-state{
			line-height: 26px;
			.border-radius(10px);

			background: rgba(10,226,0, .4);
			width: 14px;
			height: 14px;
			display: inline-block;
			box-shadow: 0 1px 0 #fff, inset 0 0 2px rgba(0,0,0,.4);
			vertical-align: middle;
			margin: -3px 0 0 0;
			&.state-draft-global{
				background: rgba(255, 201, 0, .6);
			}
			&.state-draft-local{
				background: rgba(255, 0, 5, .4);
			}
			
		}
		
	}
	.toolbox-panel-wrap{
		overflow: hidden;
	}
	
	.toolbox-panel{
		.transition(margin-bottom .5s);
		
		opacity:0;
		&.in { 
			margin-bottom: 0; 
			opacity: 1;
		}
		margin-bottom: -20%;
		width: 100%;
		max-height: 80%;
		overflow: scroll;
		background:#FFF;
		.toolbox-content{
			background:#fff; 
			
			min-height: 300px;
			.error-panel {
				font-size: 1.6em;
				color: #CCC;
				font-weight: bold; 
				text-align: center; 
				padding: 50px 25px;
			}
		}
		.tabbed-set{
			overflow: hidden;
			display: none;
		}
		
		.tabs-nav{
			margin-bottom: -99999px;
			padding-bottom: 99999px;
			float:left;
			position: fixed;
			width: 200px;
			background:#d6dde5;
			box-shadow: inset 1px 1px 0px rgba(255,255,255,.5), -1px 0 4px rgba(0,0,0,.1);
			.box-sizing(border-box);
			border-right: 1px solid #889cb4;
			font-weight: 800;
			font-size: 1em;
			
			lh{
				color: #889cb4;
				text-shadow: 0 1px 0 rgba(255,255,255,.6);
				font-size: .85em;
				letter-spacing: .05em;
				text-transform: uppercase;	
				padding: 10px 10px 5px 15px;
				display: block;
			}
			li{
				.label{
					padding: 3px 6px 2px;
					background: rgba(0, 0, 0, 0.2);
					vertical-align: top;
					line-height: 20px;
					font-size: 11px;
					.border-radius(10px);
				}
				a{
					font-size: 13px;
					padding: 5px 0px 6px 25px;
					line-height: 1.4em;
					display: block;
					border-top: 1px solid transparent;
					border-bottom: 1px solid transparent;
					color: #222;
					text-shadow: 0 1px 0 rgba(255,255,255,.7);
					&:hover{
						background: #f7f7f7;
					}
					&:active{
						background:#ddd;
					}
					.ltl{
						color: #8ca6c4;
						font-size: .8em;
					}
				}
				
				&.ui-state-active a{ 
						.buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
						box-shadow: inset 1px 1px 0px rgba(255,255,255,.2), 0 1px 3px rgba(0,0,0,.2);
						border-top-color: 1px solid @btnBorder;
						border-bottom-color: darken(@btnBorder, 10%);
						color:#fff; 
						text-shadow: 0 -1px 0 rgba(0,0,0,.7);
						.ltl{
							color: rgba(255,255,255,.7);	
						}
				}
				
				
			}
		}
		.tab-panel{
			display: table-cell;
			width: 10000px;
			.tab-panel-inner{
			
				min-height: 300px;
				padding: 15px 35px 35px 235px;
				legend{
					font-size: 15px;
					line-height: 30px; 
					font-weight:bold;
					margin-bottom: 10px;
				}
				
			}
			p, 
			ul, 
			ol{
				font-size: 1em;
			}
			
			.opt{
				border: 1px solid #ddd;
				background:#fff; 
				margin: 0 15px 15px 0;
				width: 370px;
				&.codetext{
					width: 100%;
					textarea{
						height: 600px;
					}
					
					.codetext-label{float:left}
					.codetext-help{float: right}
				}
				float: left;
				.opt-name{
					background:#f7f7f7;
					box-shadow: inset 1px 1px 0 #fff;
					border-bottom: 1px solid #ddd;
					padding: 2px 10px;
					font-size: 11px;
					font-weight: bold
				}
				.opt-box{
					padding: 15px;
					label{
						font-size: 11px;
						font-weight: bold;
					}
				}
				.help-block{
					font-size: 11px;
				}
			}
			.y-list{
				.list-item{
					border-bottom: 1px solid #eee; 
					.list-item-pad{
						padding: 8px 0; 
						line-height: 1.3em;
						.title{
							font-weight: bold; 
						}
						.desc{
							color:#aaa; 
							font-size: .85em;
						}
						.btns{
							padding: 5px 0; 
						}
					}
				}
			}
			
			.x-list .x-item{
				width: 80px;
				margin: 5px;
				float: left;
				font-size: 11px;
				line-height: 1.2em;
				
				overflow: hidden;
				.x-item-frame{
					.border-radius(10px);
					box-shadow: 0 1px 4px rgba(0,0,0,.5);
					overflow: hidden;
					
				}
				.x-item-text{
					padding: 3px 2px 2px;
					font-weight: bold;
					font-size: 10px;
				}
				img{
					background:#fff; 
					max-width: 100%;
				}
				.title{
					font-weight: bold;
				}
				&.t-box{
					.border-radius(10px);
					border:1px solid #ddd;
					.buttonBackground(#fafafa, #eee);
					box-shadow: inset 1px 1px 0 #fff;
					cursor: pointer;
					&:hover{
						.buttonBackground(#f7f7f7, #eaeaea);
					}
					&:active{
						.user-select(none);
						box-shadow: inset 1px 1px 0 rgba(0,0,0,.2);
						.buttonBackground(#ddd, #eee);
					}
					.t-box-pad{
						padding: 17px 24px;
						.img i{
							font-size: 40px;
							line-height: 40px;
							color: #ccc;
						}
					}
				}
				&.x-item-size-5{
					width: 120px;
					margin: 10px;
				}
				&.x-item-size-10{
					width: 210px;
					margin: 10px;
				}
				&.x-item-size-15{
					width: 270px;
					margin: 10px;
				}
				
				&:hover .x-item-frame{
					background: #eee;
					border:1px solid #f7f7f7; 
					cursor:pointer;
				}
				
				
				
			}
			
		}
		.ui-tabs .ui-tabs-hide{
			display: none;
		}
	}
	


}

.isotope-item {
	z-index: 2;
	&.isotope-hidden{
		pointer-events: none;
 		z-index: 1;
	}
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}



.CodeMirror{
	background: #fafafa;
	box-shadow: inset 2px 2px 5px #eee;
	border: 1px solid #cdcdcd;

}
.CodeMirror-gutter{
	box-shadow: 1px 0 4px #eee, inset 1px 1px 0 #fff;
}



// FOR LATER USE 


// Palette/Dock
// --------------------------------------------------


