/*
 * PAGELINES STRUCTURE AND RESPONSIVE
 ***********************************/

body {
	position:relative;
	zoom:1;
	background: @bodyBackground;
}



/*
 * SECTION STRUCTURE
 ***********************************/

.pl-section-pad{
	padding: @baseLineHeight 0;
}

body .pl-area .pl-section{
	margin-bottom: 0;
	.pl-section {
		> .pl-section-pad{
			padding: 8px;
		}
	}
	&.section-plcolumn {
		> .pl-section-pad{
			padding: 0;
		}
		.pl-section:last-of-type{
			margin-bottom: 0;
		}
	}
}

/*
 * STANDARD COLORING
 ***********************************/
.pl-contrast{
	background: @baseContrastSlight;
	.pl-contrast{
		background: @baseContrast;
	}
}
.pl-base{
	background: @baseColor;
}

.pl-black,
.pl-grey{
	color: rgba(255,255,255,.7); 
	h1, h2, h3, h4, h5, h6, a{
		color:#fff; 
	}
	a:hover{
		opacity: .7;
		color:inherit;
	}
}
.pl-black{
	background:#000; 
	.pl-contrast{
		background: #222; 
	}
}

.pl-grey{
	background:#222; 
	.pl-contrast{
		background: #000; 
	}
}

/*
 * FIXED TOP
 ***********************************/
.pl-fixed-top{
	position: fixed;
	z-index: @zindexFixedNavbar;
	left: 0;
	width: 100%;
}
.fixed-top-pusher{
	.transition(all 0.1s linear);
}

@media (max-width: @resPortraitTablet) {

	.pl-fixed-top{
		position: static;
	}
	.fixed-top-pusher{
		display: none;
	}

}


/*
 * RESPONSIVE: GLOBAL
 ****************************************/
body{

	// Images
	.pl-content img {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}
	.ie8 img {
		width: auto;
		height: auto;
	}

	// Media
	.hentry{
		iframe,
		video,
		object{
			max-width: 100%;
		}
	}

}

/*
 * RESPONSIVE: TABLET
 ****************************************/
@media screen and ( max-width:@resPortraitTablet ){

	.responsive{

	}

}

/*
 * RESPONSIVE: PHONE
 ****************************************/\
@media screen and ( max-width : @resPhoneLandscape ) {

	.responsive{

	}

}



