.section-highlight {

	text-align: center;
	
	.highlight-head{
		font-size: @h1size;
	}
	.highlight-subhead{
		margin-top: 5px;
		font-size: @h6Size;
		opacity: .75;
		strong,
		a{
			opacity: 1;
		}
	}

	.hl-image-bottom{
		margin: @baseLineHeight 0 0 0;
	}

	.highlight-splash img {
		max-width: 100%;
	}

}