.ibox{
	text-align: center;
	.ibox-desc{

		margin-bottom: 1em;
		.ibox-link{
			display: block;
			margin-top: .5em;
			i{
				.transition(all 0.2s ease-in-out);

			}
			a:hover i{
				margin-left: 6px;
			}
		}
	}



	.ibox-media{
		text-align: center;
		.ibox-icon-border{
			margin-bottom: @baseLineHeight/2;
			display: inline-block;
			text-align: center;
			overflow: hidden;
			&.media-type-image {
				max-width: 100%;
			}
			&.media-type-icon {
				.border-radius(500px);
				width: 90px;
				height: 90px;
				line-height: 106px;

				border: 1px solid transparent;
				.transition(all 0.2s ease-in-out);
				i{
					font-size: 40px;
					color: @linkColor;
					display: inline-block;
				}
				&:hover{
					background: @linkColor;
					i{
						color:#fff;
					}
				}
			}
		}
		
	}
	&.media{
		text-align: left;
		.ibox-icon-border{
			.border-radius(500px);
			img{
				.border-radius(500px);
			}
		}
		.ibox-icon-border.media-type-icon {

			width: 70px;
			height: 70px;
			line-height: 85px;
			i{
				font-size: 35px;
			}

		}
		.ibox-icon-border.media-type-image {
			width: 80px;
			height: 80px;
			img{
				width: 80px;
			}

		}
	}
}



